asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.1
distlib==0.3.5
Django==4.1.1
django-ckeditor==6.5.0
django-cors-headers==3.8.0
django-environ==0.4.5
django-js-asset==2.0.0
django-rest-knox==4.2.0
djangorestframework==3.12.4
filelock==3.8.0
Pillow==9.2.0
platformdirs==2.5.2
psycopg2==2.9.3
pycparser==2.21
pytz==2022.2.1
sqlparse==0.4.2
tzdata==2022.2
virtualenv==20.16.3