/* View Movile */
.reserva__container {
  display: flex;
  flex-direction: column;
}
.container__reserva__data {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reserva__img__text p {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 30px;
}
.reserva__img__logo {
  width: 100%;
  max-width: 200px;
}
.reserva__selection {
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reserva__selection__title{
  font-weight: 500;
}
.reserva_horario_title{
  font-weight: 500;
  margin: 20px auto;
}
.reserva_selection_show {
  width: 90%;
  height: 100%;
  margin: 40px auto 10px auto;
  align-items: center;
  text-align: center;
}
.reserva_selected {
  width: 120px;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 0 10px 0 10px;
  background-color: blue;
  color: whitesmoke;
}
.reserva_libre {
  width: 120px;
  padding: 10px;
  margin: 0 10px 0 10px;
  background-color: whitesmoke;
  color: black;
}
.reserva__selection__title {
  margin: 20px auto;
}
.reserva__selection__table {
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
}
.container__reserva__form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reserva__form__data {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container__reserva__form h2 {
  margin: 5px auto 15px auto;
}
.form__btn {
  width: 120px;
  height: 40px;
  margin: 20px auto 0 auto;
  position: relative;
  z-index: 1;
  font-weight: 700;
}
.form__btn::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #a6c1ee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: var(--clip);
  transition: clip-path 1.5s;
}
.form__btn:hover::before{
  clip-path: circle(70.7% at 50% 50%);
}

@media (min-width: 800px) {
  .reserva__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    position: relative;
  }
  .container__reserva__data {
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reserva__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reserva__img__logo {
    width: 50%;
    max-width: 300px;
  }
  .reserva__selection {
    width: 90%;
    max-width: 300px;
    top: 180px;
    text-align: center;
  }
  .reserva_selection_show {
    width: 90%;
    height: 100%;
    margin: 40px auto 10px auto;
    align-items: center;
    text-align: center;
  }
  .reserva__selection__table {
    width: 90%;
    max-width: 450px;
    display: flex;
    text-align: center;
  }
  .container__reserva__form {
    width: 50%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .reserva__form__data {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .container__reserva__form h2 {
    margin: 5px auto 15px auto;
  }
}
