.user__container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 45px;
}

.user__container__form {
  height: auto;
  width: 400px;
  padding-top: 20px;
  margin: 0 30px;
  box-shadow: 5px 8px 15px black;
}
a {
  color: black;
  text-decoration: none;
  transition: 0.5s color;
}

.user__container__titulo {
  padding: 10px 30px;
}

button {
  height: 30px;
  width: 50px;
  margin-left: 40px;
  margin-bottom: 20px;
}
button:hover {
  color: blue;
}
input {
  margin: 10px;
}
.mensajeError {
  color: rgb(230, 0, 0);
}
