/*View Movile*/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #2f3640;
    color: #616161;
  }
  .footer__social {
    text-align: center;
    height: 80%;
  }
  .footer h3 {
    font-size: 12px;
  }
  .footer__social__links i {
    font-size: 2.5rem;
  }
  .footer__social__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__social__links a{
    color: #616161;    
    text-decoration: none;
    margin: 0 8px;    
  }
  #ref-face:hover {
    color: blue;
  }
  #ref-insta:hover {
    color: rgb(197, 78, 128);
  }
