.user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(0, 0, 0);
}
.user__container h1 {
  font-family: "Bluetea";
  top: 50px;
  font-weight: 100;
  position: absolute;
}
.user__container__form {
  width: 90%;
  max-width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  top: 150px;
  padding: 3% 3%;
  justify-content: center;
}
.user__container h3 {
  font-family: "Bluetea";
  top: 730px;
  font-weight: 100;
  position: absolute;
}
button {
  height: 30px;
  width: 50px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.form__btn {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
button:hover {
  color: blue;
}
input {
  margin: 10px;
}
.mensajeError {
  color: rgb(230, 0, 0);
}
@import "@/assets/common/FontBluetea.css";
