.home {
  margin-top: 70px;
  display: flex;
}
.home__container {
  width: 90%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home__container__box {
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home__container__box img{
  width: 30%;
  max-width: 1366px;
  position: relative;
}

.home__container__box p{  
  font-size: 30px;
  position: relative;
  text-decoration: none;
}
.home__carousel__box img{
  object-fit: cover;
  width: 100%;
}
