.general {
  background-image: var(--main-bg-color);
  font-family: var(--font-monse);
}

:root {
  --font-monse: "Montserrat", sans-serif;
  --main-bg-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  --color-one: #f28e85;
  --color-two: #f294c8;
  --color-three: #f2a0be;
  --color-four: #d9ad5b;
  --color-fonts: whitesmoke;
  --clip: circle(0% at 50% 50%);
}
