.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.menu__container__header {
  /* img+qr+h1+p */
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner_img {
  width: 100%;
  border-radius: 10px;
  margin: 5px auto;
}
.header__title {
  position: absolute;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
.qr_img {
  width: 30%;
  margin: 50px auto;
  position: absolute;
}
.header__description {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  font-style: oblique;
}

/* menu__cards */
.menu__cards {
  /* H3+P+CARDS*/
  width: 95%;
  margin: 10px auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.menu__title {
  width: 100%;
  font-size: 22px;
  text-align: center;
}
.menu__description {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}
.cards__conteiners {
  margin: 10px auto 0 auto;
  border-radius: 5px;
  box-shadow: 5px 8px 12px black;
  transition: all 0.3s ease-in-out;
}
.cards__conteiners img {
  width: 100%;
  height: 100%;
}
.cards__conteiners:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .menu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .menu__container__header {
    /* img+qr+h1+p */
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .banner_img {
    width: 100%;
    border-radius: 10px;
    margin: 5px auto;
  }
  .header__title {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    font-size: 22px;
    color: white;
  }
  .qr_img {
    width: 30%;
    margin: 90px auto 0 auto;
    position: absolute;
  }
  .header__description {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    font-style: oblique;
  }
  
  /* menu__cards */
  .menu__cards {
    /* H3+P+CARDS*/
    width: 95%;
    margin: 10px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .menu__title {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .menu__description {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
  }
  .cards__conteiners {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    box-shadow: 5px 8px 12px black;
    /* transition: all 0.3s ease-in-out; */
  }
  .cards__conteiners img {
    width: 100%;
    height: 100%;
  }
  /* solo para pc - NO MOVIL
  .cards__conteiners:hover {
    cursor: pointer;
    transform: scale(1.02);
  }*/
  
}
@media (min-width: 1024px) {
  .menu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .menu__container__header {
    /* img+qr+h1+p */
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .banner_img {
    width: 100%;
    border-radius: 10px;
    margin: 5px auto;
  }
  .header__title {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    font-size: 34px;
    color: white;
  }
  .qr_img {
    width: 30%;
    max-width: 450px;
    margin: 12% auto 0 auto;
    position: absolute;
  }
  .header__description {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    font-style: oblique;
  }
  
  /* menu__cards */
  .menu__cards {
    /* H3+P+CARDS*/
    width: 95%;
    margin: 10px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .menu__title {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .menu__description {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
  }
  .cards__conteiners {
    width: 100%;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    box-shadow: 5px 8px 12px black;
    transition: all 0.3s ease-in-out;
  }
  .cards__conteiners img {
    width: 100%;
    height: 100%;
  }
  .cards__conteiners:hover {
    cursor: pointer;
    transform: scale(1.02);
  }  
}
