.general {
  background-image: var(--main-bg-color);
  font-family: var(--font-monse);
}
/*margin general de las vistas*/
.padding-navbar {
  margin-top: 70px;
}

@import url("http://fonts.cdnfonts.com/css/montserrat");

:root{
  --font-monse: "Montserrat", sans-serif;
  --main-bg-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
  --color-one: #f28E85;
  --color-two: #F294C8;
  --color-three: #F2A0BE;
  --color-four: #D9Ad5B;
  --color-fonts: whitesmoke;
}