/* View Movile */
.reserva__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}
.container__reserva__data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reserva__img p{
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 30px;
}
.reserva__img__logo {
  width: 100%;
  max-width: 200px;
}
.reserva__selection {
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.reserva__selection__title {
  margin-bottom: 20px;
}
.reserva__selection__table {
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
}
.container__reserva__form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reserva__form__data{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container__reserva__form h2 {
  margin: 5px auto 15px auto;
}
.form__btn {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px 10px;
  font-weight: 300;
  margin-bottom: 20px;
  transition: 0.5s;
}
.mensajeError {
  color: rgb(230, 0, 0);
}

@media (min-width: 800px) {
  .reserva__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    position: relative;
  }
  .container__reserva__data {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reserva__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reserva__img__logo {
    width: 50%;
    max-width: 300px;
  }
  .reserva__selection {
    width: 90%;
    max-width: 300px;
    top: 180px;
    align-items: center;
    text-align: center;
  }
  .reserva__selection__table {
    width: 90%;
    max-width: 450px;
    display: flex;
    text-align: center;
  }
  .container__reserva__form {
    width: 50%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .reserva__form__data {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .container__reserva__form h2 {
    margin: 5px auto 15px auto;
  }
  .form__btn {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px 10px;
    font-weight: 300;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  button:hover {
    color: rgb(0, 0, 0);
  }
  .mensajeError {
    color: rgb(230, 0, 0);
  }
}
