.container__reservas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container__reservas h2{
    text-align: center;
    margin: 20px auto;
}
.container__reservas__data{
    width: 90%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 20px auto;
}