/* Navigation */
.nav__main {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #2f3640;
  color: white;
}
.nav__title {
  font-family: "Malibu";
  font-size: 28px;
  margin: 10px;
}
.nav__links{
  height: 100%;
}
.nav__links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.nav__links li{
  list-style: none;
}
.nav__links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.nav__links a:hover{
  color: var(--color-three);
}
.router-link-exact-active{
  color: var(--color-one);
}
.toggle__btn{
  position: absolute;
  top: 13px;
  right: 1rem;
  display: none;
  flex-direction: column;
  width: 30px;
  height: 21px;
}

@media (max-width: 768px) {
  .nav__main{
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle__btn{
    display: flex;
  }
  .nav__links{
    display: none;
    width: 100%;
  }
  .nav__links ul{
    width: 100%;
    flex-direction: column;
  }
  .nav__links ul li{
    text-align: center;
    align-items: center;
  }
  .nav__links ul li a{
    padding: .5rem 1rem;
  }
  .nav__links.active {
    display: flex !important;
  }
}

@import "@/assets/common/FontMalibu.css";